<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Searching for extraterrestrial intelligence </title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="main">
            <nav>
                <h2 class="logo">AGH Extraterrestrial Intelligence</h2>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about_project">About Project</a></li>
                </ul>
            </nav>

            <div class="team">
                <h2> Skład zespołu: </h2>
                <ul>
                    <li>Katarzyna Słomińska</li>
                    <li>Norbert Podgórski</li>
                    <li>Arkadiusz Kontek</li>
                </ul>
            </div>
            <div class="project"> 
                <h2> Opis Projektu: </h2>
                <ul>
                    Celem działania systemu jest monitorowanie nieba w celu wykrycia aktywności radiowej pochodzącej spoza obszaru ziemi.
                    Do monitorowania wykorzystane zostaną niezależnie działający klienci czyli stacje, które przesyłać będą uzyskane wyniki do głównego serwera. 
                    Każda ze stacji będzie monitorować określony obszar nieba oraz przekazywać do serwera informacje o czasie, lokalizacji i stopniu wykrytej aktywności. 
                    Stacje działają niezależnie od siebie, ich liczba może być dowolnie zwielokrotniana, a dane przetwarzane są przez nie współbieżnie. 
                    Zadaniem serwera będzie natomiast odbieranie i łączenie otrzymanych danych pod względem lokalizacyjnym oraz synchronizacja pod względem czasowym. 
                    Wynikiem działania systemu będzie obraz nieba, na który naniesione zostaną informacje o lokalizacji oraz stopniu wykrytej aktywności zaprezentowane w postaci <span>heatmap</span>.

                </ul>

            </div>


        </div>
        
    </body>
</html>