<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Searching for extraterrestrial intelligence </title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://kit.fontawesome.com/c80089f155.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
            <nav>
                <h2 class="logo">AGH Extraterrestrial Intelligence</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about_project.html">About Project</a></li>
                </ul>
            </nav>

            <p class="inputs">Run Main Function</p>

            <form>
                <button id="submit">RUN</button>
            </form>

            <p class="inputs">Run Heatmap Function</p>

            <div class="heatmap">
                <button id="heatmap">RUN</button>
            </div>

            <div class="heatmap_pic">
                <img id="heatmap_pic" src="{{ url_for('static', filename='heatmap_pic.png') }}" />
            </div>

            <script>
                setTimeout("location.reload(true);", 5000);
            </script>

<!--            style="display: none;"-->

<!--            <script>-->
<!--                const showImageButton = document.getElementById("heatmap");-->
<!--                const myImage = document.getElementById("heatmap_first_pic");-->
<!--                showImageButton.addEventListener("click", () => {-->
<!--                myImage.style.display = "none";-->
<!--                });-->
<!--             </script>-->

            <script>
                function sendRequest() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://localhost:5001/run_heatmap", true);
                xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
                }
                };
                xhr.send();
                }

                var button = document.getElementById("heatmap");
                button.addEventListener("click", sendRequest);
            </script>

            <script>
                function sendRequest() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://localhost:5001/run_main", true);
                xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
                }
                };
                xhr.send();
                }

                var button = document.getElementById("submit");
                button.addEventListener("click", sendRequest);
            </script>

        </div>
    </body>
</html>