<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Searching for extraterrestrial intelligence </title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://kit.fontawesome.com/c80089f155.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
            <nav>
                <h2 class="logo">AGH Extraterrestrial Intelligence</h2>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about_project">About Project</a></li>
                </ul>
            </nav>

            <p class="inputs">Start the sky monitoring process</p>

            <form>
                <button id="submit">Start Simulation</button>
            </form>
            <p> . </p>

            <p class="inputs">Show skymap</p>

            <div class="heatmap">
                <button id="heatmap_" value="Reload Page" onClick="window.location.reload(true)">Generate Heatmap</button>
            </div>

            <div class="heatmap_pic">
                <img id="heatmap_pic" src="{{ url_for('static', filename='heatmap_pic.png') }}" />
            </div>

            <script>
                function sendRequest() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://localhost:5000/run_heatmap", true);
                xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
                }
                };
                xhr.send();
                }

                var button = document.getElementById("heatmap_");
                button.addEventListener("click", sendRequest);
            </script>

            <script>
                function sendRequest() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://localhost:5000/run_main", true);
                xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
                }
                };
                xhr.send();
                }

                var button = document.getElementById("submit");
                button.addEventListener("click", sendRequest);
            </script>

        </div>
    </body>
</html>